<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    <link rel="stylesheet" href="../../../public/bootstrap & jquery/animation/animate.min.css">
    <link rel="stylesheet" href="../../../public/bootstrap & jquery/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../public/my_css/main.css">
</head>
<body class="main-bg">
 <nav class="mb-5 fixed-top d-flex library-title justify-content-around">
    <!--scroll indicator-->  
    <div class="progress-bar fixed-top" style="height:3px" role="progressbar" id="scroll_indicator"></div>
   
   <!--scroll indicator-->  
  <a class="nav-link library-title" href="../first-page.html">Home</a></p>
  
 <p class="nav align-items-center">All Books</p>
  </nav>
  <section id="main" class="mt-2">
<!--title-->
<div class="mt-5 pt-3">
    <p class="text-center title-gn h5 mb-2">These are all book(s) we have:</p>
    <p id="underline" class="d-flex align-items-center justify-content-center mx-auto my-2 bg-light-dark"></p>
</div>
<!--title-->
<div class="container-fluid">
bnm
</div>


  </section>

<!--jquery--> 
<script src="../../../public/bootstrap & jquery/js/jquery.1.js"></script>
<!--bootstrap-->
<script src="../../../public/bootstrap & jquery/js/bootstrap.bundle.min.js"></script>
<!--my own javascript-->
<script src="../../../public/my_js.js/main_js.js"></script>
</body>
</html>