<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    <link rel="stylesheet" href="../../../public/bootstrap & jquery/animation/animate.min.css">
    <link rel="stylesheet" href="../../../public/bootstrap & jquery/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../public/my_css/main.css">
</head>
<body class="main-bg">
 <!-- col-10 col-sm-7 col--6 col-lg-5 text-style shadow-lg -->
    <section id="main-1" class="" >
        <div class="container-fluid">

 <div class="row text-info m-auto" style="height:100vh;">
     <div class="col-10 col-sm-7 col--6 col-lg-5 shadow-lg text-style m-auto new-opacity-color">
<p class="text-center h4">Fill those below to continue</p>   
<p id="underliner" class="mx-auto bg-extra"></p>  

<form action="" method="POST">
 <input type="text" id="username" placeholder="Username" data-toggle="tooltip" data-placement="top" title="Usename" class="mx-auto form-control my-2 mx-auto w-75">
<input type="text" id="password" placeholder="Password" data-toggle="tooltip" data-placement="top" title="Password" class="mx-auto form-control my-2 mx-auto w-75">   

<div class="d-flex">
<button type="submit" class="btn mx-auto btn-success my-3">Continue</button>
<a role="button" href="../first-page.html" type="button" class="btn mx-auto btn-danger my-3">Home</a role="button">
</div>
</form>
     </div>
  
</div>           

        </div>

    </section>

<!--jquery--> 
<script src="../../../public/bootstrap & jquery/js/jquery.1.js"></script>
<!--bootstrap-->
<script src="../../../public/bootstrap & jquery/js/bootstrap.bundle.min.js"></script>
<!--my own javascript-->
<script src="../../../public/my_js.js/main_js.js"></script>
</body>
</html>